.section-menu-header-container {
	font-size: var(--header-size);

	margin-top: 2rem;

	text-align: start;

	width: 100%;
	padding: 0rem 3rem;

	.section-menu-header {
		font-weight: var(--font-regular);
	}
}
