.app-menu-section {
  border-left: 1px solid var(--clr-divider);
  position: relative;
  height: 100vh;
  right: 0.1rem;
  width: 9.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 1200px) {
  .app-menu-section {
    display: none;
  }
}