.section-menu-hangouts-list-item {
  scroll-snap-align: start;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
  width: 100%;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0.7em 0rem;
  font-size: 1.8rem;
}
.section-menu-hangouts-list-item .pp {
  height: 1.67em;
  width: 1.67em;
}
.section-menu-hangouts-list-item .section-menu-hangouts-list-item-name-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  height: 100%;
  overflow: hidden;
}
.section-menu-hangouts-list-item .section-menu-hangouts-list-item-name-container:hover .caret {
  filter: none;
}
.section-menu-hangouts-list-item .section-menu-hangouts-list-item-name-container .section-menu-hangouts-list-item-name {
  font-weight: var(--font-light);
  margin-left: 0.7em;
}
.section-menu-hangouts-list-item .section-menu-hangouts-list-item-name-container .caret {
  height: 0.4em;
  margin-left: 0.4em;
  filter: var(--clr-divider-fill);
}
.section-menu-hangouts-list-item .section-menu-hangouts-list-item-delete-container .section-menu-hangouts-list-item-delete-position {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  aspect-ratio: 1/1;
  transition: all 0.25s;
}
.section-menu-hangouts-list-item .section-menu-hangouts-list-item-delete-container .section-menu-hangouts-list-item-delete-position:hover {
  border-radius: 50%;
  background-color: #dad7d7;
}