.section-menu-hangouts-list-item {
	scroll-snap-align: start;

	display: grid;
	grid-template-columns: 1fr 4fr 1fr;

	align-items: center;

	width: 100%;

	cursor: pointer;
	user-select: none;

	margin: 0.7em 0rem;

	font-size: 1.8rem;

	.pp {
		$length: 1.67em;

		height: $length;
		width: $length;
	}

	.section-menu-hangouts-list-item-name-container {
		display: grid;
		grid-template-columns: 2fr 1fr;

		align-items: center;

		height: 100%;

		overflow: hidden;

		&:hover .caret {
			filter: none;
		}

		.section-menu-hangouts-list-item-name {
			font-weight: var(--font-light);
			margin-left: 0.7em;
		}

		.caret {
			height: 0.4em;
			margin-left: 0.4em;

			filter: var(--clr-divider-fill);
		}
	}

	.section-menu-hangouts-list-item-delete-container {
		.section-menu-hangouts-list-item-delete-position {
			display: flex;
			align-items: center;
			justify-content: center;

			$sign_length: 2.2em;

			height: $sign_length;
			width: $sign_length;
			aspect-ratio: 1 / 1;

			transition: all 0.25s;

			&:hover {
				border-radius: 50%;
				background-color: rgb(218, 215, 215);
			}
		}
	}
}
