.section-menu-hangouts-list {
	scroll-snap-type: y mandatory;

	min-height: 25rem;

	margin-top: 2rem;

	width: 100%;
	padding: 1rem 3rem;

	overflow-y: scroll;

	&::-webkit-scrollbar {
		width: 10px;

		&::after {
			content: "";
			position: absolute;
			background-color: red;
			height: 100%;
			width: 50%;
		}
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 100px;
		background-color: var(--clr-divider);
	}
}

form {
	display: flex;
	justify-content: center;

	width: 100%;
	height: 30%;

	$formHeight: 50px;

	max-height: $formHeight;
	min-height: $formHeight;

	.section-menu-hangouts-add-list-item {
		display: flex;
		justify-content: center;
		align-items: center;

		gap: 3rem;

		width: 100%;
		height: 100%;

		margin: 0;
		width: 85%;

		.section-menu-hangouts-add-list-item-input {
			border: none;
			border: 2px solid black;
			height: 2.5rem;

			&::placeholder {
				font-family: "Work Sans", sans-serif;
			}
		}

		.section-menu-hangouts-add-list-item-btn {
			background-color: #7848dd;
			color: white;
			height: 2.5rem;
			width: 60px;

			border: 0;

			&:disabled {
				background-color: var(--clr-outline);
				color: #b7a9a9;
			}
		}
	}
}
