.global-checkbox {
	font-size: 4rem;

	border: 2px solid #212121;
	border-radius: 50%;

	$circleLength: 1.5rem;

	height: $circleLength;
	width: $circleLength;

	cursor: pointer;

	transition: all 0.167s;
}
